Django>=5.0,<6.0
djangorestframework
django-rest-framework-social-oauth2==2.1.2
social-auth-app-django==5.2.0
django-cors-headers
psycopg2-binary
dj-database-url
python-decouple
markdown==3.5.2
python-dotenv==1.0.0
djoser
djangorestframework-simplejwt
google-generativeai
gunicorn
whitenoise
Pillow
chardet==5.2.0
requests==2.31.0
Pygments==2.16.1
